:root {
    --black: #000000;
    --winning-blocks: #ebc15ef3;
}

body {
    color: var(--black);
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    background-color: #d2dfe6;;
}

*{
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style for scoreboard */
.scoreboard {
    display: flex;
    font-size: larger;
}

#gameboard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    position: relative;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 100px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom:1px solid;
}


button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--black);
    color: rgb(206, 206, 206);
    border-color: var(--black);
    font-size: 30px;
    transition: 200ms transform;
    font-weight: 600;
    font-family: 'Amatic SC', cursive;
}
button:hover {
    cursor: pointer;
    transform: translateY(3px);
}